Screen {
    height: 100%;
    margin: 4 8;
    padding: 1 2;
    align: center middle;
}

Static {
    content-align: center middle;
}

GameHeader {
    dock: top;
    width: 100%;
    background: $foreground 5%;
    color: $text;
    height: 1;
}

#countdown {
    content-align: center middle;
    width: 100%;
}

#section-player {
    dock: left;
    padding: 0 1;
    width: 30%;
    content-align: left middle;
}

#section-opponent {
    dock: right;
    padding: 0 1;
    width: 30%;
    content-align: right middle;
}
